html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden; /* Disable scrollbars */
  display: block; /* No floating content */
}

@font-face {
  font-family: 'Industry Book';
  src: url('./assets/fonts/Industry-Book.woff2') format('woff2'), url('./assets/fonts/Industry-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Hacked;
  src: url('./assets/fonts/HACKED.ttf');
  font-weight: normal;
  font-style: normal;
}

a, p {
  font-family: Industry Book;
  font-weight: 400;
}
